.ChatApp {
   display: flex;
   flex-direction: row; 
}
.sidebar{
    display: flex;
    flex-direction: column;
}
.search{
    padding: 10px;
    border: 2px solid white;
    background-color: black;
}
.chat-item{
    border: 2px solid white;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
}
.chat-item:hover{
    color: black;
    background-color: white;
}
.avatar{
    border-radius: 50%;
    height: 15px;
}
.chat-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.name{
    font-weight: bold;
}
.last-message{
    color: grey;
}
.textfromsenior{
    border-radius: 15%;
    background-color: cadetblue;
    font-size: larger;
}
.textfromjunior{
    border-radius: 15%;
    background-color: bisque;
    font-size: larger;
}
.sender{
    border: 2px solid grey;
    font-size: medium;
}
.send-message {
    display: flex;
    flex-direction: row;
}
#textspace {
    padding: 10px;
    width: 30vw;
    background-color: black;
    border: 5px solid white;
}
#sendbutton {
    padding: 10px;
    background-color: forestgreen;
    color: white;
}
