.ChatApp {
   display: flex;
   flex-direction: row; 
}
.textfromsenior{
    border-radius: 15%;
    background-color: cadetblue;
    font-size: larger;
}
.textfromjunior{
    border-radius: 15%;
    background-color: bisque;
    font-size: larger;
}
.sender{
    border: 2px solid grey;
    font-size: medium;
}
.send-message {
    display: flex;
    flex-direction: row;
}
#textspace {
    padding: 10px;
    width: 30vw;
    background-color: black;
    border: 5px solid white;
}
#sendbutton {
    padding: 10px;
    background-color: forestgreen;
    color: white;
}
